@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  color: var(--col-black);
  background-color: var(--col-off-white);
  /* font-family: "Poppins", sans-serif; */
  margin: 0;
  padding: 0;
}
