---
// Component Imports
import Card from '../components/Card.astro';
import Layout from '../layouts/layout.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const response = await fetch('https://api.github.com/search/repositories?q=language:Astro&per_page=100');
const data = await response.json();

const projects = data.items.filter((project) => (project.homepage && !project.homepage.includes('localhost')));
---

<Layout>
<div class="flex flex-wrap gap-2 justify-center">
{projects.map(project => <Card project={project} />)}
</div>
</Layout>