---
import Card from '../components/Card.astro';
import Layout from '../layouts/layout.astro';
import { getProjects } from '../helpers'

const projects = await getProjects();
---

<Layout description="A page to showcase the latest Astro projects. For more info, go to Astro.build!">
<div class="flex flex-wrap gap-2 justify-center">
{projects.map(project => <Card project={project} />)}
</div>
</Layout>