---

---

<footer class="flex justify-center align-center my-4">
    <a title="Github" href="https://github.com/SanderGeraedts">
        <img src="/assets/icons/github.svg" alt="Github logo" />
    </a>
    |
    <a
        title="Personal site"
        href="https://sanderg.nl/"
    >
        <img src="/assets/icons/www.svg" alt="Personal Website" />
    </a>
    |
    <a title="LinkedIn" href="https://www.linkedin.com/in/sander-geraedts/">
        <img src="/assets/icons/li.svg" alt="LinkedIn logo" />
    </a>
</footer>

<style>
footer{
    color: var(--col-gray);
}

footer a {
    font-size: 1.5rem;
    margin: 0 1rem;
    display: flex;
    align-content: center;
}

footer img {
    height: 1.5rem;
    width: 1.5rem;
}
</style>